.page-container.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 2 * var(--nav-height));
}

.page-container.not-found h1 {
    font-size: 2rem;
    margin-bottom: 5rem;
}

.page-container.not-found a {
    color: var(--text-color-inverted);
}
