button, .button {
    padding: 0.5rem 0.75rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--text-color-inverted);
    font-weight: bold;
    text-decoration: none;
}

.button.disabled, button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: var(--bg-base-secondary);
    color: var(--text-color-muted);
    border-color: var(--text-color-muted);
}

button[type="reset"], .button--secondary {
    background-color: var(--secondary-color);
    color: var(--text-color-inverted);
    border-color: var(--text-color-muted);
}

.button--left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.button--right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}
