.equipments-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.equipments-list > h3 {
    margin: 0;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

.equipments-list__special-offers,
.equipments-list__rest {
    display: flex;
    overflow-x: auto;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    max-width: 100%;

    .card {
        min-width: 300px;
    }
}